.container {
	display: flex;
	flex-direction: column;
	gap: var(--mantine-spacing-md);
	height: 100%;
	padding: 0;
	margin-inline: auto;
	max-width: 48rem;
}

.messages {
	height: 100%;
	flex-grow: 1;
	justify-content: flex-end;
}
