:root[data-mantine-color-scheme="dark"] {
	--mantine-color-text: var(--mantine-color-gray-1);
}

html,
body {
	width: 100dvw;
	height: 100dvh;
	overflow-x: hidden;
}

body {
	--border: 1px solid var(--mantine-color-default-border);
}

.root {
	display: grid;
	grid-template-rows: auto 1fr;

	max-width: 1700px;
	margin: 0 auto;
	border: var(--border);

	height: 100dvh;
	overflow: hidden;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	gap: calc(var(--mantine-spacing-sm) * 1.5);

	padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);

	border-bottom: var(--border);
}

.sidebar,
.main {
	overflow-y: auto;
	padding-block: var(--mantine-spacing-sm);
}

.main {
	padding-inline: var(--mantine-spacing-lg);
}

svg {
	width: 1rem;
	height: 1rem;
}
